:root {
  --font-color: #ece8e1;
  --btn-color: #ff4655;
  --background-color: #0f1923;
  --footer-color: #7e7e7e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-style: normal;
}

.header {
  width: 100%;
  background-color: var(--background-color);
  position: sticky;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 50px;
}

.img__logo {
  width: 40px;
  height: 40px;
  background-color: var(--font-color);
  border-radius: 50px;
}

.logo {
  display: flex;
  gap: 10px;
}
.shop_name {
  font-size: 30px;
  font-weight: 600;
  color: var(--font-color);
}
/* nav*/

.nav {
  display: flex;
  gap: 35px;
  padding-top: 10px;
  a {
    color: var(--font-color);
    text-decoration: none;
    font-size: 20px;
    position: sticky;
  }
  a:hover {
    color: var(--btn-color);
  }
}

button[type="submit"] {
  margin: 10px;
  border-radius: 3px;
  padding: 2px;
  background-color: var(--btn-color);
  color: var(--font-color);
  font-size: 15px;
  border: none;
}
.cart__link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.cart__link a {
  color: var(--font-color);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s;
}

.cart__link:hover a {
  color: var(--btn-color);
}

.cart__icon {
  width: 24px;
  height: 24px;
}

.cart__badge {
  background-color: var(--btn-color);
  color: white;
  font-size: 12px;
  padding: 1px 6px;
  border-radius: 50%;
  font-family: sans-serif;
  margin-bottom: 10px;
}

.card__name {
  border-bottom: 2px solid #e5e5e5;
  margin-bottom: 30px;
  color:#ff4655;
}

@media (max-width: 768px) {
  .cart__link {
    margin: 10px 0;
  }
}
.banner__title {
  font-size: 60px;
  padding: 10px 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0, 1);
  backdrop-filter: blur(6px);
  color: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 62%;
  left: 25%;
  transform: translate(-62%, -25%);
  position: fixed;
}
.banner img {
  width: 100%;
  height: auto;
  display: block;
}

.btn__load > button {
  color: #000000a3;
  background-color: #ffffff;
  border-style: none;
  outline: 1px solid rgba(0, 0, 0, 0.224);
  border-radius: 12px;
  padding: 5px;
  font-size: 15px;
}

.agents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 150px;
}
.agent-card {
  flex: 1 1 calc(33.333%-40px);
  min-width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 810px;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  padding: 10px;
  background-color: #0000001e;
}
.agent-card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  flex-shrink: 0;
}
.agent-card h3 {
  font-size: 20px;
  margin: 12px 0 8px;
  flex-grow: 1;
}

.price {
  font-weight: bold;
  margin-bottom: 12px;
}

.agent-card button {
  margin-top: auto;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #0f1923;
  color: #e5e5e5;
  cursor: pointer;
}
.product-card button:hover {
  color: #ff4655;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.product-card {
  display: flex;
  flex-direction: column;
  height: 420px;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  padding: 16px;
  background-color: #0000001e;
}
.product-card img {
  width: 100%;
  height: 261px;
  object-fit: cover;
  border-radius: 8px;
}
.product-card h3 {
  font-size: 20px;
  margin: 12px 0 8px;
  flex-grow: 1;
}

.price {
  font-weight: bold;
  margin-bottom: 12px;
}

.product-card button {
  margin-top: auto;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #0f1923;
  color: #e5e5e5;
  cursor: pointer;
}
.product-card button:hover {
  color: #ff4655;
}
@media (max-width: 900px) {
  .header__inner {
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    text-align: center;
  }

  .nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding-top: 5px;
  }

  .nav a {
    font-size: 16px;
  }

  .search {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .search input {
    width: 70%;
  }

  .shop_name {
    font-size: 24px;
  }
  .agents {
    grid-template-columns: repeat(2, 1fr);
  }
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}
@media (max-width: 500px) {
  .nav {
    gap: 10px;
  }

  .nav a {
    font-size: 14px;
  }

  .img__logo {
    width: 30px;
    height: 30px;
  }
  .agents {
    grid-template-columns: 1fr;
  }
  .products {
    grid-template-columns: 1fr;
  }
}

.about {
  font-size: 16px;
  padding: 50px;
  background-color: #0000001e;
}
.about-h2 {
  position: relative;
  color: var(--btn-color);
  font-size: 40px;
  font-weight: bold;
}

.reviews {
  padding-top: 30px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.02);
}

.reviews-card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  margin: 25px auto;
  padding: 0 20px;
  justify-content: center;
}

.reviews-item {
  flex: 1 1 calc(33.333% - 40px);
  min-width: 200px;
  background-color: #0000001e;
  padding: 30px;
  border-radius: 15px;
  text-align: left;
}
.stars {
  color: #ff4655;
  font-size: 20px;
  margin-bottom: 15px;
}
.reviews-author {
  font-size: 16px;
  border-top: 1px solid #00000051;
  padding-top: 10px;
}

.reviews-form {
  max-width: 400px;
  margin: 30px auto;
  text-align: center;
}
.reviews-form h3 {
  margin-bottom: 15px;
}

.reviews-form input,
.reviews-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #0000001e;
  border: 1px solid #333;
  color: black;
  border-radius: 4px;
}
.footer {
  background-color: var(--background-color);
  border-top: 1px solid #333;
  padding: 40px 20px 20px;
  margin-top: 50px;
  font-family: "Oswald", sans-serif;
}

.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-info p {
  color: var(--footer-color);
  font-size: 14px;
  margin-top: 10px;
}

.footer-nav,
.footer-social {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-nav a,
.footer-social a {
  color: var(--font-color);
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.footer-nav a:hover,
.footer-social a:hover {
  color: var(--btn-color);
}

.footer-legal {
  text-align: center;
  color: white;
  font-size: 12px;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

@media (max-width: 600px) {
  .footer-inner {
    flex-direction: column;
    text-align: center;
  }
  .footer-contacts {
    margin-top: 20px;
  }
}
.footer-contacts h4 {
  color: var(--btn-color);
  font-size: 18px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.footer-contacts p {
  color: var(--font-color);
  font-size: 14px;
  margin-bottom: 8px;
  line-height: 1.4;
}
